  *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        body {
    color: #787878;
     font-family: Arial, sans-serif;
    /* background-image: radial-gradient(73% 147%, #EADFDF 59%, #ECE2DF 100%), radial-gradient(91% 146%, rgba(255,255,255,0.50) 47%, rgba(0,0,0,0.50) 100%);
 background-blend-mode: screen;*/
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/652/confectionary.png);

}
.main{
    display: flex;
}




.top-header {
    background: linear-gradient(to bottom, #D5DEE7 0%, #E8EBF2 50%, #E2E7ED 100%), linear-gradient(to bottom, rgba(0,0,0,0.02) 50%, rgba(255,255,255,0.02) 61%, rgba(0,0,0,0.02) 73%), linear-gradient(33deg, rgba(255,255,255,0.20) 0%, rgba(0,0,0,0.20) 100%);
 background-blend-mode: normal,color-burn;
 box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    
   
    border-radius: 0;
    
    justify-content: center;
    padding: 20px;
    position:  fixed;
    width: 100%;
    left: 0;
    z-index: 1;
    
    
}


.top-header span {
    text-align: center;
    font-size: 3rem;
    color: #21117a;
    display: inline;
  
}
.top-head{
  font-weight: 900;
}






#profile{
  position: relative;
  left:  50rem;

}

#profile a{
  list-style-type: none;
  text-decoration: none;
  color: #21117a ;
  display: inline;


  

}



div {
   background: linear-gradient(to bottom, #D5DEE7 0%, #E8EBF2 50%, #E2E7ED 100%), linear-gradient(to bottom, rgba(0,0,0,0.02) 50%, rgba(255,255,255,0.02) 61%, rgba(0,0,0,0.02) 73%), linear-gradient(33deg, rgba(255,255,255,0.20) 0%, rgba(0,0,0,0.20) 100%);
 background-blend-mode: normal,color-burn;
 box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    
          border-radius: 1rem;
          background-repeat: no-repeat;
          background-size: cover;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    
}

.data{
    position: relative;
    top: 6.7rem;
}


.main-task-div{
    display: flex;
    
    background-color: crimson;
    border: .1rem solid black;
     width: 5rem;
      height: 4rem;
  }

  #main-task-div{
    color: #190d5e;
    margin-top: 2rem;
    padding-top: 2rem;
    width: auto;
    background-color: transparent;
    height: 10rem;
    border: none;
    border-radius: 0;
    background: transparent;
    box-shadow: none;
  }
  .task{
    color: #190d5e;
    width: 25%;
    height: 7rem;
    display: flex;
    margin: 0 2rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(12deg, #a1c4fd 0%, #c2e9fb 100%);
   

  }

  

  .task p{
    font-size: 2rem;
    font-weight: 800;
    color: #020c2e;

  }
   .box {
   
    border: .2rem solid #b4c4d6;
    position: relative;
    animation: moveBorder 4s infinite linear;
  }

  @keyframes moveBorder {
    0% {
      border-top-color: #b4c4d6;
      border-right-color: #468791;
      border-bottom-color: #a3ba91;
      border-left-color: #b4c4d6;
    }
    25% {
      border-top-color: #a3ba91;
    }
    50% {
      border-right-color: #a3ba91;
    }
    75% {
      border-bottom-color: #696969;
    }
    100% {
      border-left-color: #a3ba91;
    }
  }

  .add-task{

    margin-top: 6rem;
    margin-bottom: 2rem;
    height: 20rem;
    width: 40%;
    position: relative;
    left: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #7e9af7;
    
  }

  .add-task:hover{
   
   
  }

  .add-task h1{
    padding: 1rem;
    border-bottom: .2rem solid #5e48db;
    color: #190d5e;
    font-weight: 700;
  }

  .add-task i{
    padding: 2rem 2.7rem;
    font-size: 3rem;
    color: #5e48db;
    font-weight: 500;

  }
  .add-task span{
    color: #5e48db;
    font-weight: 700;
    bottom: 1rem;
  }

  .add-task a{
    position: relative;
    top: 2rem;
  }




  .add-task-logo{
    width: 50%;
    
  }

  .add-task-logo h1{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .add-task-logo span{
    position: relative;
    left: 8%;

  }
  

  .add-task a{
    text-decoration: none;
    color: #787878;
    list-style-type: none;
    width: 60%;
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .left-side{
    float: left;
    width: 70%;
  }

  .left-side h2{
    font-size: 1.5rem;
   
    font-weight: 900;
  }


.side-container{

    right: 0;
    float: left;
    height: auto;
   
}
  .side-container h1{
    font-size: 3rem;
    color: #5e48db;

  }


  

.first-task{
  min-width: 40rem;
  width: 40rem;
  display: flex;
  flex-direction: column;
  
  position: relative;
  left: 13rem;
  
   background-image: linear-gradient(120deg, #D5DEE7 0%, #E8EBF2 50%, #E2E7ED 100%);


  margin-bottom: 10rem;
}

.first-task h1{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #21117a;
  font-weight: 600;
  padding: 1rem;
   border-bottom: .2rem solid #5e48db;
}

.first-task:hover h1 {
 
    color: #21117a;
    font-weight: 700;
}

 .first-task p{
  color: #21117a;
  font-size: 1.5rem;
  font-weight: 700;
  padding-left: 2rem;
 
 }

 .first-task label{
  padding: 0 3rem;
  color: #000;
  font-weight: 500;
 }

  .first-task label{
    display: inline !important;
    margin: 5px 0;
  }
  .first-task span {
    display: block;
  }

  .first-task p a{
    text-decoration: none;
    color: #fff;
    background-color: #21117a;
    border: .1rem solid black;
    padding: .5rem;
    border-radius: 1rem;
    font-weight: 400;

  }


.first-task h5{
  font-size: 2rem;
  font-weight: 700;
  font-family: cursive;

}

  input{
    font-size: 1.5rem;
    background: transparent;
    border: transparent;
    color: transparent;
    padding: .5rem;

  }

  input:hover{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 1rem;
     border: .1rem solid #78787788;
     color: #787878;
  }

  .btn{
    font-size: 1.5rem;
    background: transparent;
    border: .1rem solid #78787788;
    color: #787878;
    padding: .5rem;
    border-radius: 1rem;
    font-size: 1.3rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 22px;

  }

  .btn:hover{
    background: transparent;
     border: .1rem solid #78787788;
    color: #787878;

  }

  .sidebar {
  position: fixed;
  top: 7rem;
  bottom: 0;

  overflow-y: auto; 
  background-color: #f8f9fa;
  max-width: 29rem;
}

.sidebar-heading {
    position: fixed;
  padding: 10px;
  border-radius: 0;
  
  color: #7e9af7; 
  max-width: 50%;
  width: 28%;
}

.sidebar-heading h1 {
  color: #21117a;
  font-weight: 600;
}

.sidebar-content{
    position: relative;
    top: 9.5rem;
    z-index: -1;

}

nav{
    display: flex;
    flex-direction: row;
}

.sidebar-content .table td a{
  text-decoration: none;
  background-color: #21117a;
  font-size: 1rem;
  padding: .3rem;
  border-radius: .4rem;
  color: #fff;
}




